apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  namespace: app
  labels:
    app: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      namespace: app
      labels:
        app: ngin
    spec
      containers:
      - name: nginx
        image: nginx
        ports:
        - containerPort: 80
